<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Import Bootsrap 5.2  -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Import font Awersome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- My Style CSS -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- Import axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    
    <!-- Import vue library -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

   
    
     
    <title>Document</title>
</head>
<body>

    <div id="app">

        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <button class="btn btn-primary w-100 my-4" @click="getRandomeEmail"> Get Randome Email</button>

                <h3>Elenco email generate:</h3>
                <ul class="list-group">
                    <li v-if="isShow" v-for="email in emailRandome" class="list-group-item"> {{ email }} </li>
                </ul>
            </div>
            <div class="col-3"></div>
        </div>

        

    </div>



    

      <!-- Import my js -->
      <script type="text/javascript" src="./js/script.js"></script>  
   
</body>
</html>
